*,*:after,*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  body{
    font-family: arial;
    font-size: 16px;
    margin: 0;
    background-color: #ffffff;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ffffff 40px ), repeating-linear-gradient( #dcdeff55, #dcdeff );
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  h1{
    color: black;
    font-size: 40px;
  }
  h2{
    font-weight: lighter;
    color: #33cc33;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  #input{
    width: 600px;
  }


  .animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fil-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

  button{
    padding: 5px 10px 1px;
    background: #0ea4da;
    border: 0;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
  }

  img.animated-gif{
    width: 300px;
    height: auto;
  }

.container{
  display: flex;
  /* background-color: #4527af; */
  width: 100%;
}

.chatpage{
  width: 100%;
  margin: 2px;
  border: 2px solid grey;
  /* background-color: #dcdeff; */
  min-height: 800px;
}

.chatbox{
  flex-grow: 2;
}

.infobox{
      width: 25%;
}

.imgbox{
  background-color: #a8a8a8;
}   

.suggestionbox{
    /* min-height: 500px; */
    text-align: center;
    /* background-color: #33cc33; */
}


#scroll-container {
    border: 2px solid black;
    border-radius: 1px;
    height: 400px;
    overflow: hidden;
  }
  
  #scroll-text {
    height: 100%;
    text-align: center;
    
    /* animation properties */
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    
    -moz-animation: my-animation 5s linear infinite;
    -webkit-animation: my-animation 5s linear infinite;
    animation: my-animation 5s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateY(100%); }
    to { -moz-transform: translateY(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateY(100%); }
    to { -webkit-transform: translateY(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateY(100%);
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
    to {
      -moz-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  }

@media (max-width: 800px) {
    .container {
        flex-flow: column wrap;
    }
    .infobox{
        width: 100%;
    }
  }