body  {
    background-image: url("img/feedimg1.PNG");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size:cover;
  }
form {
    margin: auto;
    width: 500px;
    text-align: center;
    padding: 40px;
    padding-top: 14.5%;
    
    
  }
  
  input, textarea {
    padding: 12px;  
    margin: 6px 6px 6px 0;
  }
  input[type=submit] {
    background-color: green;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=reset] {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: darkgreen;
    color: lightblue;
  }
  
  input[type=reset]:hover {
    background-color: white;
    color: blue;
  }