<link rel="stylesheet" type="text/css" href="ind.css">
<section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="./img/bot1.jpg" alt="img">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">About <span></span></h1>
        <h2>UCEN BOT</h2>
        <p>The UCEN bot project is built using artificial intelligence algorithms that analyses user's queries and understand user's message.. This System is a web application which provides answer to the query of the student. Students just have to query through the bot which is used for chating,via Speech.</p>
        <a href="feed/feedback.html" class="cta">Feedback</a>
        </div>
    </div>
  </section>