{% load static%}
{% include 'navbar.html'%}

<section id="contact">
    <div class="contact container">
      <div style="margin-bottom: 10ch;">
        <h1 class="section-title">Contact <span>info</span></h1>
      </div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <h2><a href="fax:04652- 260510">04652- 260510</a></h2>
            <h2><a href="tel:04652-260511">04652-260511</a></h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2><a href="mailto:deanucen@gmail.com">deanucen@gmail.com</a></h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2><a href="https://goo.gl/maps/kNuRzKFjinh8328A9" target="_blank" rel="noreferrer">University College of Engineering, Konam, Nagercoil, Kanya Kumari, TAMILNADU- 629 004</a></h2>
          </div>
        </div>
      </div>
    </div>
    
      <center>
        <h1 class="section-title">Location <span>info</span></h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3949.3560694815974!2d77.4120586147806!3d8.16683539412178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b04f0e513adeb85%3A0xe22e3eb86c9146bf!2sUniversity%20College%20of%20Engineering%2CNagercoil!5e0!3m2!1sen!2sin!4v1650614728316!5m2!1sen!2sin" width="80%" height="500px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </center>
    </div>  
  </section>
