{% extends 'main.html'%} 
{% block content %} 
{% include 'navbar.html' %}

<!-- Hero Section  -->
<section id="hero">
  <div class="hero container">
    <div>
      <h1>Now Get INFOS <span></span></h1>

      <h1>of UCEN Faster<span></span></h1>
      <a
        href="services.html"
        style="text-decoration: none"
        type="button"
        class="cta"
        >Click here to chat with a BOT</a
      >
    </div>
  </div>
</section>

<section id="footer">
  <div class="footer container">
    <div class="brand">
      <h1>UCEN<span>BOT</span></h1>
    </div>
    <h2>University College Of Engineering Nagercoil.</h2>
    <div class="social-icon">
      <div class="social-item">

        <a href="https://www.facebook.com/University-College-of-Engineering-Nagercoil-113257961262209" target = "_blank"
          ><img
            src="https://img.icons8.com/bubbles/100/000000/facebook-new.png"
        /></a>
      </div>
      <div class="social-item">
        <a href="https://www.instagram.com/uce_nagercoil/" target = "_blank"
          ><img
            src="https://img.icons8.com/bubbles/100/000000/instagram-new.png"
        /></a>
      </div>
      <div class="social-item">
        <a href="https://twitter.com/uce_nagercoil" target = "_blank"
          ><img src="https://img.icons8.com/bubbles/500/undefined/twitter-circled.png"/></a>
      </div>
    </div>
    <p>Copyright © 2022 . All rights reserved | Developed by Dept. of CSE</p>
  </div>
</section>
<!-- End Footer -->

{% endblock %}