{% load static %}
{% include 'navbar.html'%}
{% load my_custom_tags %}
    
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Intro</title>
    </head>
    <body>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        <h2>Enter input</h2>
  <form action="pythonweb.html" method="post">
    {% csrf_token %}
    {{ form }}
    <div class="form-group">
      <label> Talk with this chatbot </label>
      <input type="text" class="form-control" id="input" name = 'input'>
    </div>
    <button type="submit" class="btn btn-success">OK</button>
  </form>
  <p>{% chatbot %}</p>
    </body>
</html>